/* Styles for the Home component */
.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .home-title {
    color: #1ba94c;
    font-size: 2rem;
    margin-bottom: 1rem;
    
  }
  
  .blog-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  