/* Styles for the NavBar component */
nav {
    background-color: #cd6a35; 
    padding: 10px 20px; 
  }
  
  nav ul {
    list-style-type: none; 
    display: flex; 
    gap: 20px; 
    margin: 0; 
    padding: 0; 
  }
  
  nav li {
    display: inline; 
  }
  
  nav a {
    text-decoration: none; 
    color: #430707; 
    font-weight: bold; 
    transition: color 0.3s ease; 
  }
  
  nav a:hover {
    color: #00ff11;
  }
  
  /* Styles for the blog-post class */
  /* .blog-post {
    list-style: none; 
    display: flex; 
    gap: 20px; 
    padding: 0; 
    margin: 0; 
  }
   */
  .blog-post li a {
    text-decoration: none; 
    color: #d5ba24; 
    font-size: 16px; 
    padding: 10px 15px; 
  }
  
  .blog-post li a:hover {
    background-color: #e0dc0c; 
    border-radius: 5px; 
  }
  
  .nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .logo-section{
    img{
        width: 20px;
        height: auto;
    }
  }

  .nav-item-section{
    display: flex;
    gap: 20px;
  }