/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #61040fed;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00b39e;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0092b3;
}
